<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>

<style>
    .menu ul{
        float: left;
        list-style: none;
        margin: 0;
        padding: 4px 12px;
        border-style: solid;
        width: 33%;
        box-sizing: border-box;
        text-align: center;
    }


</style>
<body>

<div class = "menu">
    <ul>
        <li><a href="/">Frontpage</a></li>
    </ul>
</div>
<div class = "menu">
    <ul>
        <li><a href="stats">Stats</a></li>
    </ul>
</div>
<div class = "menu">
    <ul>
        <li><a href="links">Helpful links</a></li>
    </ul>
</div>



</body>
</html>