<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
</head>

<style>
    .menu ul{
        float: left;
        list-style: none;
        margin: 0;
        padding: 8px 12px;
        border-style: solid;
        width: 25%;
        box-sizing: border-box;
    }

    h1{
position: absolute;
        top: 100px;
    }

  img{
      position: absolute;
      width: 20%;

  }

</style>

<body>

<nav>
    <div class="menu">
<ul>
    <li> knap1</li>
</ul>
    </div>

    <div class="menu">
        <ul>
            <li> knap1</li>
        </ul>
    </div>
    <div class="menu">
        <ul>
            <li> knap1</li>
        </ul>
    </div>
    <div class="menu">
        <ul>
            <li> knap1</li>
        </ul>
    </div>

</nav>

<h1> Velkommen til vores side om madspild</h1>



    <img src="https://cdn.pixabay.com/photo/2019/06/21/14/38/banana-4289613_1280.png">





</body>
</html>